{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}

{% block content %}

<div class="timeline-title">
    <h3><i class="fa fa-history"></i> Timeline</h3>
</div>

 <ul class="timeline">

        <li>
          <div class="timeline-badge"><i class="fa fa-suitcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Started working full time at dabapps</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2014</small></p>
            </div>
            <div class="timeline-body">
              <p>Couldn't be more excited about starting a full time, just a few work days after my final exam. New enviroment, great people and tons of knowledge and expertize. Since day one, every day I am learning more and more awesome stuff.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fa fa-suitcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Left part-time job at CIG Creative Hub</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2014</small></p>
            </div>
            <div class="timeline-body">
              <p>Since my first year in the UK, I worked as a part time Web Developer for <i>The Cohen International Group</i> remotely. First experiences in the profesional world. Learnt lots of stuff, many projects, hundreds of hours on Skype with the Bahrain office.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Graduated from University of Brighton</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2014</small></p>
            </div>
            <div class="timeline-body">
              <p>Yes! Studies completed! The day of my final exam, I received two job offers. Obviously one of those was from <a href="http://www.dabapps.com/" target="_blank">DabApps</a> where I am currently working.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Completed first year of studies at City University of London</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2012</small></p>
            </div>
            <div class="timeline-body">
              <p>Year one done! Personal reasons brought me to University of Brighton to continue to the second year of studies.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge"><i class="fa fa-plane"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Moved to United Kingdom</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> September 2011</small></p>
            </div>
            <div class="timeline-body">
              <p>Probably one of the biggest decisions I ever had. Moved to the UK to study Computer Science at City University of London.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fa fa-desktop"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">First projects as a Freelance Web Developer</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2009</small></p>
            </div>
            <div class="timeline-body">
              <p>After playing around with HTML, CSS and slicing some psd templates, I started working on my first couple of projects as a Web Designer/Developer.</p>
            </div>
          </div>
        </li>

    </ul>

{% endblock content %}
