{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}

{% block morehead %}<link rel="stylesheet" type="text/css" href="/static/css/timeline.css" />{% endblock %}

{% block content %}

<div class="timeline-title">
    <h3><i class="fa fa-history"></i> Timeline</h3>
</div>

 <ul class="timeline">

        <li>
          <div class="timeline-badge"><i class="fa fa-suitcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Started working full time at dabapps</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2014</small></p>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. </p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fa fa-suitcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Left part-time job at CIG Creative Hub</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2014</small></p>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. </p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Graduated from University of Brighton</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2014</small></p>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. </p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fa fa-graduation-cap"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Completed first year of studies at City University of London</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2012</small></p>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. </p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge"><i class="fa fa-plane"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Moved to United Kingdom</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> September 2011</small></p>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. </p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fa fa-desktop"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">First projects as a Freelance Web Developer</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2009</small></p>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. </p>
            </div>
          </div>
        </li>

    </ul>

{% endblock content %}
