{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div class="post">


        <h2 class="title">
            <span class="date">{{ article.date.strftime("%d %b") }}</span><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h2>

  <footer class="post-info">
    <abbr class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </abbr>
    {% if article.modified %}
    <abbr class="modified" title="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </abbr>
    {% endif %}
    {% if article.authors %}
    <address class="vcard author">
      By {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
    </address>
    {% endif %}
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->


    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
    <div class="comments">
      <h2>Comments !</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        var disqus_identifier = '{{ article.url }}';
        var disqus_url = 'http://www.iamemmanouil.com/{{ article.url }}';
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
    {% endif %}



</div>
{% endblock %}
