{% extends "base.html" %}

{% block title %}{{ article.title }} | {{ SITENAME }}{%endblock%}

{% block content %}
<div class="post">

    <h2 class="title">
        <i class="fa fa-bookmark-o"></i> <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a> <span class="share">{% include 'share.html' %}</span>
    </h2>

    <div class="category">{% if article.category %}<i class="fa fa-folder-open-o"></i> {{ article.category }}{% endif %}</div>
    <div class="date"><i class="fa fa-calendar"></i> {{ article.date.strftime("%d %B %Y") }}</div>

    {% if article.cover %}
    <div class="post-cover">
        <img class="img-responsive" src="/images/{{ article.cover }}" alt="{{ article.title }}" />
    </div>
    {% endif %}

    <div class="post-content">
        {{ article.summary }}
        {{ article.content }}
    </div>

    {% if article.tags %}
    <div class="tags">
        <h3><i class="fa fa-tags"></i> tags : {% for tag in article.tags %}<span class="tag">{{ tag }}{% if not loop.last %}, {% endif %}</span>{% endfor %}</h3>
    </div>
    {% endif %}

    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
    <div class="comments">
        <h3><i class="fa fa-comments-o"></i> any comments?</h3>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{ DISQUS_SITENAME }}';
            var disqus_identifier = '{{ article.url }}';
            var disqus_url = '{{ SITEURL }}/{{ article.url }}';
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
    {% endif %}

</div>

<a href="#" class="scrollToTop"><i class="fa fa-chevron-up"></i></a>
{% endblock %}
