{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}

{% block content %}

<div class="get-in-touch">
    <h3><i class="fa fa-external-link"></i> Get In Touch</h3>
</div>

<div class="row get-in-touch">

    <div class="col-md-6">
        <p><i class="fa fa-envelope-o"></i> manos at iamemmanouil dot com
        </p>
        <p><i class="fa fa-github"></i> <a href="https://github.com/ekonstantinidis" target="_blank">ekonstantinidis</a></p>
        <p><i class="fa fa-twitter"></i> <a href="https://twitter.com/iamemmanouil" target="_blank">iamemmanouil</a></p>
    </div>

    <div class="col-md-6">
        <p><i class="fa fa-linkedin"></i> <a href="uk.linkedin.com/in/ekonstantinidis/" target="_blank">Emmanouil Konstantinidis</a></p>
        <p><i class="fa fa-stack-overflow"></i> <a href="http://stackoverflow.com/users/1460144/manolis-c" target="_blank">Manolis C</a></p>
        <p><i class="fa fa-google-plus"></i> <a href="https://plus.google.com/u/0/108251346991255336348">Emmanouil Konstantinidis</a></p>
    </div>

</div>

{% endblock content %}
