{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}

{% block morehead %}<link rel="stylesheet" type="text/css" href="/static/css/timeline.css" />{% endblock %}

{% block content %}

<div class="timeline-title">
    <h3><i class="fa fa-external-link"></i> Social Stuff</h3>
</div>

Social Media etc here.

<div class="timeline-title">
    <h3><i class="fa fa-share"></i> Drop me an email</h3>
</div>

<div class="form-group">
    <input type="text" class="form-control" placeholder="Your Name">
</div>

<div class="form-group">
    <input type="text" class="form-control" placeholder="Your Email Address">
</div>

<div class="form-group">
    <textarea class="form-control" rows="8" placeholder="Your Message"></textarea>
</div>

<div class="form-group">
    <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
</div>

{% endblock content %}
