{% extends "base.html" %}

{% block content %}

{% block content_title %}<h2>Home / Blog</h2>{% endblock %}

{% for article in articles_page.object_list %}
<article class="post">

        <h2 class="title">
            <span class="date">{{ article.date.strftime("%d %b") }}</span><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h2>

        <!-- .entry-content -->
        <div class="post-content">
            {{ article.summary }}
            <a class="btn btn-primary btn-lg read-more" href="{{ SITEURL }}/{{ article.url }}">Continue reading +</a>
        </div>
        <!-- .entry-content -->

</article>
{% endfor %}

{% endblock content %}
