<div class="block">
    <div class="title">Categories.</div>
    {% if categories %}
    <ul>
    {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if not categories %}
    There are no categories yet.
    {% endif %}
</div>

<div class="block latest-articles">
    <div class="title">Latest Articles.</div>
    {% if articles %}
    <ul>
    {% for article in articles %}
        {% if loop.index <= 3 %}
        <li><b>{{ article.date|strftime('%d %b') }}</b>. <a href="{{ SITEURL }}/{{ article.url }}">{{article.title}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
    {% if not articles %}
    There are no articles yet.
    {% endif %}
</div>


<div class="block tags">
    <div class="title">Tags.</div>
    {% if tags %}
    <ul>
    {% for tag, articles in tags|sort %}
        {% if loop.index <= 10 %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
    {% if not tags %}
    There are no tags yet.
    {% endif %}
</div>