<div class="container-fluid header">
  <div class="container">


    <div class="row">
      <div class="col-sm-12">
        <a class="site-title" href="{{ site.baseurl }}/"><span>iam</span> emmanouil konstantinidis</a>
        <h3 class="site-description">Software Engineer</h3>
      </div>
    </div>


    <div class="row navigation">
      <div class="col-sm-6">
        {% for page in site.pages %}
          {% if page.title %}
            <a class="btn btn-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% if forloop.last == false %}<i class="fa fa-code"></i>{% endif %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-sm-6 social-icons">
        <a href="http://twitter.com/iamemmanouil"><i class="fa fa-twitter"></i></a>
        <a href="http://github.com/manosim"><i class="fa fa-github"></i></a>
        <a href="http://uk.linkedin.com/in/ekonstantinidis"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>

  </div>
</div>
