<div class="container-fluid header bg-secondary text-center py-5">
  <a class="site-title" href="{{ site.baseurl }}/">
    <img
      class="img-fluid mx-auto mt-2 mb-4 logo"
      src="/static/images/logo.svg"
      alt="{{ page.title }}" />
  </a>

  <p class="lead mb-2">
    <span>I am</span> Emmanouil Konstantinidis.<br />
    Software Engineer @ <a href="https://www.dabapps.com/" targe="_blank">dabapps</a>.
  </p>
</div>

<nav class="navbar navbar-expand navbar-dark bg-primary mb-5">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav mx-auto">
      {% for page in site.pages %}
        {% if page.title %}

          <li class="nav-item active">
            <a
              class="nav-item nav-link active"
              href="{{ page.url | prepend: site.baseurl }}">
              {{ page.title }}
            </a>
          </li>

        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
