/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .navigation li a {
        margin: 0 .8em;
        letter-spacing: -1px;
        font-size: 1.3em;
    }

    .header .hamburger:before {
       font-size: 30px;
    }

}