@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300,400);

/*
** Base
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    color: #3686be;
}

a {
    color: #3686be;
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s;
}

a:hover {
    color: #26628d;
    text-decoration: none;
}

/* Text Selection */
::selection {
    text-shadow: none;
    color: #f3f3f3;
    background: #26628d;
}

::-moz-selection {
    text-shadow: none;
    color: #f3f3f3;
    background: #26628d;
}

/*
** Header
*/

.header {
    background: #3686be;
    text-align: center;
    margin: 0 -15px;

    box-shadow: inset 0 -10px 5px -10px #000000;
    -moz-box-shadow: inset 0 -10px 5px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 5px -10px #000000;
}

.header a {
    color: #D0DADC;
}

.header a:hover {
    color: #FFF;
}

.header .hamburger {
    color: #FFF;
    text-align: left;
    padding: 30px 0 0 50px;
}

.header .hamburger:before {
   font-family: FontAwesome;
   content: "\f0c9";
   font-size: 40px;
}

.header h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    padding: 18px 0 7px 0;
    line-height:55px;
    color:#333;
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s;
}

.header img {
    border: 1px solid #FFF;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 3px;
    border-radius: 50%;

    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s;
}

.header img:hover{
    opacity: 0.8;
}

.header p {
    color: #FFF;
    font-family: 'Josefin Slab', serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.header .social-icons {
    padding: 20px 0;
    display: block;
}

.header .social-icons a {
    padding: 0 10px;
    font-size: 25px;
}

/*
** Navigation
*/

.navigation {
    position: relative;
    display: block;
    margin: .9em auto 0 auto;
    padding: 0;
    list-style: none;
}

.navigation li {
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

.navigation li a {
    position: relative;
    margin: 0 3em;
    color: #D0DADC;
    letter-spacing: -3px;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 1.7em;
}

/*
** Blog
*/

.post {
    margin: 30px 0;
}

.post .title {
    margin: 50px 0;
    text-align: left;
    /*text-transform: uppercase;*/
    line-height: 1.5;
    font-weight: 800;
}

.post .info {
    border-top: 1px dotted #333;
    font-size: .6em;
    font-weight: 100;
    text-transform: lowercase;
    margin: 0 10px 10px 0;
}

.post .info div {
    padding: 0;
}

.post .info div i {
    display: none;
}

.post .share {
    float: right;
}

.post .share .twitter {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 14px;
    background-color: #1dcaff;
    color: #FFF;
    border-radius: 4px;
    border: 0;
    padding: 2px 5px;
    margin-bottom: 10px;
    margin-right: 10px;

}

.post .share .twitter:hover {
    background-color: #00aced;
}

.post .post-content a {
    display: block;
    max-width: 17em;
    text-align: center;
    margin: 2em 0 0 0;
    padding: 1.5em 2em;
    text-transform: uppercase;
    font-weight: 700;

    color: #3686be;
    font-size: .7em;
    background: none;
    border: 2px solid #3686be;
    border-radius: 4px;

    -webkit-transition:all .6s;
    -moz-transition:all .6s;
    transition:all .6s;
}

.post .post-content a:hover {
    color: #FFF;
    background-color: #3686be;
}

.post div h3 {
    font-weight: 100;
}

.post .tags h3 {
    border-bottom: 1px dotted #333;
    padding: 10px 0;
}

.post .tags .tag {
    font-size: 18px;
    color: #333;
    margin: 0 2px;
}
.post .comments h3 {
    border-bottom: 1px dotted #333;
    padding: 10px 0;
}

/*
** PAGINATION
*/

.paginator {
    background-color: #eef1f2;
    border-radius: 4px;
    font-size: .9em;
    text-align: center;
    padding: 5px 10px;
}

.paginator .previous {
    float: left;
}

.paginator .next {
    float: right;
}

/*
** FOOTER
*/

footer {
    font-size: .9em;
    margin: 40px 0;
    text-align: center;
}