/* @group Imports */

@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);


/* @end Imports */


/* @group Variables */

$brand-blue-dark: #183952;
$brand-blue-light: #20526F;

$twitter-color: #1DCAFF;

/* @end Variables */


/* @group Mixins */

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

@mixin header-link-hover() {
  &:hover {
    color: darken($white, 10%);
  }
}


/* @end Mixins */


/* @group Bootstrap Overrides */

$theme-colors: (
  primary: $brand-blue-dark,
  secondary: $brand-blue-light,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
);

$body-bg: #F7F7FA;

$font-family-base: 'Open Sans', sans-serif;

$link-color: lighten(theme-color('secondary'), 15%);
$link-hover-color: theme-color('primary');
$link-hover-decoration: none;

$headings-color: theme-color('primary');

$code-bg: map-get($grays, 200);

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 760px,
  xl: 761px
);

@import "../node_modules/bootstrap/scss/bootstrap";

/* @end Bootstrap Overrides */


/* @group Miscelaneous */

body {
  font-size: 18px;
  font-weight: 300;
}

::selection {
  text-shadow: none;
  color: $white;
  background: theme-color('primary');
}

::-moz-selection {
  text-shadow: none;
  color: $white;
  background: theme-color('primary');
}

.scroll-to-top {
  padding: 5px 10px;

  background-color: theme-color('secondary');
  @include border-radius(5px);
  color: $white;
  font-size: 12px;
  text-decoration: none;

  position: fixed;
  bottom: 40px;
  right: 40px;
  display:none;

  &:hover{
    text-decoration: none;
  }
}

.page-title {
  margin-top: 3rem;
  margin-bottom: 2rem;

  border-bottom: 1px solid darken($body-bg, 10%);
}

/* @end Miscelaneous */


/* @group Header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logo {
    max-width: 150px;
  }

  .site-title {
    @include header-link-hover();

    color: $white;
    font-size: 2.5rem;
    text-transform: lowercase;

    span {
      display: block;
      font-size: 1.35rem;
    }
  }

  .lead {
    font-weight: 300;
    font-size: .95rem;
    color: $white;

    a {
      text-decoration: none;
    }
  }
}

/* @end Header */


/* @group Navbar */

.navbar {
  .nav {
    .nav-item {
      display: inline-block;

      &:after {
        display: inline-block;
        margin: 0 .25rem;
        font-family: 'FontAwesome';
        content: "\f121";
        color: $white;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
}

/* @end Navbar */


/* @group Blog */

.post {
  margin-top: 3rem;
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 5px;

    .title {
      display: block;
      border-bottom: 1px solid darken($body-bg, 10%);
      padding-bottom: 5px;
      margin-bottom: 5px;
      color: theme-color('primary');

      &:hover {
        color: $brand-blue-light;
      }
    }
  }

  .date {
    font-size: .9em;
    margin-bottom: 15px;
  }

  .twitter {
    font-size: 14px;
    background-color: $twitter-color;
    color: $white;
    @include border-radius(4px);
    border-radius: 4px;
    border: 0;
    padding: 2px 5px;

    &:hover {
      background-color: darken($twitter-color, 10%);
    }
  }

  .post-content {

    ul {
      list-style-type: square;
      color: theme-color('primary');
    }

    .btn {
      display: block;
      max-width: 17em;
      text-align: center;
      margin: 2em 0 0 0;
      padding: 1.5em 2em;
      text-transform: uppercase;
      font-weight: 700;

      color: theme-color('primary');
      font-size: .7em;
      background: none;
      border: 2px solid theme-color('primary');
      border-radius: 4px;

      -webkit-transition:all .6s;
      -moz-transition:all .6s;
      transition:all .6s;

      &:hover {
        color: $white;
        background-color: theme-color('primary');
      }
    }

    .highlight {
      margin: 25px 0;
      border: 0;

      pre {
        @include border-radius(0);

        margin-bottom: .25rem;
        padding: .5rem;
        font-size: 85%;

        border: 0;
        background-color: #ECECEC;
      }

      .gutter pre,
      .code pre {
        border: 0;
      }
    }
  }

  .comments {
    h2 {
      display: block;
      border-bottom: 1px solid darken($body-bg, 10%);
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }
}

/* @end Blog */


/* @group Page: Projects */

.projects {

  .project {
    h3 {
      margin-top: 0;

      .fa {
        margin-left: 15px;
      }
    }

    .tags-wrapper {
      font-size: 16px;
      color: map-get($grays, 800);

      .tags {
        display: inline-block;
        padding-left: 0;

        li {
          display: inline;
          border-bottom: 1px solid theme-color('primary');
          padding: 0 5px;
          margin-right: 5px;
        }
      }
    }

    .img-responsive {
      margin: 0 auto;
    }
  }

  .hr-code {
    text-align: center;
    color: map-get($grays, 400);
    font-size: 12px;
    margin: 10px 0;
  }
}

/* @end Page: Projects */


/* @group Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-bottom: 5px solid theme-color('primary');
  font-size: 0.9rem;

  .nav {
    .nav-item {
      font-size: 1.75rem;
      margin-right: .55rem;
      margin-left: .55rem;
    }
  }
}

/* @end Footer */

@import "_mobile.scss";
@import "_pygments.scss";
