/* Smartphones (portrait and landscape) ----------- */

@include media-breakpoint-down(sm) {

  /* @group Miscalaneous */

  .scroll-to-top {
    bottom: 20px;
    right: 20px;
  }

  /* @end Miscalaneous */

  /* @group Header */

  .header {

    .site-title {
      font-size: 2.8rem;
    }

    .navigation {
      padding: 2rem 0 1rem;

      .col-sm-6 {
        text-align: center;
      }


      @include media-breakpoint-down(xs) {
        .social-icons {
          padding: 25px 0;
        }
      }

      .site-description {
        margin-bottom: 20px;
      }
    }
  }

  /* @end Header */


  /* @group Post */

  .post {
    padding: 0 15px;
  }
  
  /* @end Post */


  /* @group Footer */

  .footer {
      font-size: .8em;
  }

  /* @end Footer */

}
