@import "_variables.scss";

/* @group Timeline */
// Awesome timeline by http://tympanus.net/codrops/2013/05/02/vertical-timeline/

.timeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;

  &:before {
  	content: '';
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	width: 10px;
  	background: $theme-alt;
  	left: 20%;
  	margin-left: -10px;
  }

  > li {
  	position: relative;

    .date {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
	text-align: right;
	font-size: 1.5em;
	color: $theme-alt;
    }
  }
}

.timeline > li:nth-child(odd) .date {
	color: $theme-primary;
}

/* Right content */
.timeline > li .content {
	margin: 0 0 15px 25%;
	background: $theme-alt;
	color: $white;
	padding: 1.2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.timeline > li .content h3 {
	margin-top: 10px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid fade($white, 50%);
	color: $white;
}

.timeline > li:nth-child(odd) .content {
	background: $theme-primary;
}


.timeline > li:nth-child(even) .content {
	a {
		color: lighten($gray, 35%);
	}
}

/* The triangle */
.timeline > li .content:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: $theme-alt;
	border-width: 10px;
	top: 10px;
}

.timeline > li:nth-child(odd) .content:after {
	border-right-color: $theme-primary;
}

/* The icons */
.timeline > li .icon {
	width: 40px;
	height: 40px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.2em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: $white;
	background: $theme-primary;
	border-radius: 50%;
	box-shadow: 0 0 0 8px $theme-primary;
	text-align: center;
	left: 20%;
	top: 7px;
	margin: 0 0 0 -25px;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.timeline > li {
		.icon {
			width: 35px;
			height: 35px;
			font-size: 1.1em;
			top: 5px;
		}

		.date {
			font-size: 1.4em;
		}
	}
}

@media screen and (max-width: 47.2em) {
	.timeline:before {
		display: none;
	}

	.timeline > li .date {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
		text-align: left;
	}

	.timeline > li .content {
		margin: 0 0 50px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.timeline > li .content:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: $theme-alt;
		top: -20px;
	}

	.timeline > li:nth-child(odd) .content:after {
		border-right-color: transparent;
		border-bottom-color: $theme-primary;
	}

	.timeline > li .icon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}
}

/* @end Timeline */
