
/* @group Variables */

$theme-primary: #1B82A1;
$theme-alt: #1BA17F;

$theme-bg: #f7f7fa;

$white: #FFF;
$gray: #6f7076;
$dark-gray: #4f4f50;

$twitter-color: #1dcaff;

$font-averia: 'Averia Sans Libre', cursive;

/* @end Variables */
