---
layout: default
comments: true
---
<div class="row post">

  <h2><a class="title" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>

  <div class="row post-meta">
    <div class="col-xs-6">
      <div class="date"><i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}</div>
    </div>
    <div class="col-xs-6">
      <span class="share">
        <a class="twitter" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=iamemmanouil" target="_blank">
          <i class="fa fa-twitter"></i> tweet
        </a>
    </div>
  </div>

  {% if page.cover %}
  <img class="img-responsive post-cover" src="/static/images/posts/{{ page.cover }}" alt="{{ page.title }}" />
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  {% include comments.html %}

</div>
