---
layout: default
comments: true
---
<div class="post">

  <h2><a class="title" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>

  <div class="row">
    <div class="col-6">
      <div class="date"><i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}</div>
    </div>

    <div class="col-6 text-right">
      <a
        class="twitter"
        href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=manosim"
        target="_blank">
        <i class="fa fa-twitter"></i> tweet
      </a>
    </div>
  </div>

  {% if page.cover %}
    <img
      class="img-fluid mt-1 mb-3"
      src="/static/images/posts/{{ page.cover }}"
      alt="{{ page.title }}" />
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  {% include comments.html %}

</div>
