---
layout: default
---

<div class="projects">

  <div class="page-title">
    <h3><i class="fa fa-code"></i> Projects</h3>
  </div>

  <div class="row project">
    <div class="col-md-2">
      <img class="img-responsive" alt="Gitify" src="http://placehold.it/200x200">
    </div>
    <div class="col-md-10">
      <h3>Gitify <a href="http://www.github.com/" target="_blank"><i class="fa fa-github pull-right"></i></a></h3>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

</div>
