/* @group Imports */

@import '../../node_modules/bootstrap/scss/_functions';
@import '../../node_modules/bootstrap/scss/_variables';

/* @end Imports */

/* @group Variables */

$dark: #010e1e;

/* @end Variables */

/* @group Bootstrap Overrides */

$danger: #e65f78;

$link-color: lighten(theme-color('secondary'), 15%);
$link-hover-color: theme-color('primary');
$link-hover-decoration: none;

@import '../../node_modules/bootstrap/scss/bootstrap';

/* @end Bootstrap Overrides */

/* @group Miscelaneous */

.scroll-to-top {
  padding: 5px 10px;

  background-color: $dark;
  border-radius: 5px;
  color: $white;
  font-size: 12px;
  text-decoration: none;

  position: fixed;
  bottom: 3.5rem;
  right: 1.5rem;
  display: none;

  &:hover {
    text-decoration: none;
  }
}

/* @end Miscelaneous */

:not(pre) > code[class*='language-text'] {
  color: #e83e8c;
  background-color: initial !important;
}
