/* @group Imports */

@import '../../node_modules/bootstrap/scss/_functions';
@import '../../node_modules/bootstrap/scss/_variables';

/* @end Imports */

/* @group Variables */

$twitter-color: #184857;

$dark: #010e1e;

/* @end Variables */

/* @group Mixins */

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* @end Mixins */

/* @group Bootstrap Overrides */

$danger: #e65f78;

$link-color: lighten(theme-color('secondary'), 15%);
$link-hover-color: theme-color('primary');
$link-hover-decoration: none;

$code-bg: map-get($grays, 200);

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 760px,
  xl: 761px,
);

@import '../../node_modules/bootstrap/scss/bootstrap';

/* @end Bootstrap Overrides */

/* @group Miscelaneous */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-to-top {
  padding: 5px 10px;

  background-color: $dark;
  @include border-radius(5px);
  color: $white;
  font-size: 12px;
  text-decoration: none;

  position: fixed;
  bottom: 3.5rem;
  right: 1.5rem;
  display: none;

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    bottom: 1rem;
  }
}

/* @end Miscelaneous */

/* @group Navbar */

.navbar {
  padding: 1rem;

  &.navbar-dark {
    background-color: $dark;
  }

  .navbar-brand {
    .logo {
      height: 27px;
    }
  }

  .navbar-toggler {
    border: 0;

    &:focus {
      background-color: rgba(0, 0, 0, 0.55);
      border-radius: 0;
      outline: none;
    }
  }

  .nav-item .nav-link {
    transition: all 0.5s;
    font-weight: 500;
    text-transform: lowercase;
  }

  @include media-breakpoint-down(sm) {
    .navbar-collapse {
      text-align: center;
    }
  }
}

/* @end Navbar */

/* @group Blog */

.post {
  margin-top: 3rem;
  margin-bottom: 2rem;

  @include media-breakpoint-down(sm) {
    padding: 0 15px;
  }

  h2 {
    margin-bottom: 5px;

    .title {
      display: block;
      border-bottom: 1px solid darken($body-bg, 10%);
      padding-bottom: 5px;
      margin-bottom: 5px;
      color: theme-color('primary');
    }
  }

  .date {
    font-size: 0.9em;
    margin-bottom: 15px;
  }

  .twitter {
    font-size: 14px;
    background-color: $twitter-color;
    color: $white;
    @include border-radius(4px);
    border-radius: 4px;
    border: 0;
    padding: 2px 5px;

    &:hover {
      background-color: darken($twitter-color, 10%);
    }
  }

  .post-content {
    ul {
      list-style-type: square;
      color: theme-color('primary');
    }

    .btn {
      display: block;
      max-width: 17em;
      text-align: center;
      margin: 2em 0 0 0;
      padding: 1.5em 2em;
      text-transform: uppercase;
      font-weight: 700;

      color: theme-color('primary');
      font-size: 0.7em;
      background: none;
      border: 2px solid theme-color('primary');
      border-radius: 4px;

      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      transition: all 0.6s;

      &:hover {
        color: $white;
        background-color: theme-color('primary');
      }
    }

    .highlight {
      margin: 25px 0;
      border: 0;

      pre {
        @include border-radius(0);

        margin-bottom: 0.25rem;
        padding: 0.5rem;
        font-size: 85%;

        border: 0;
        background-color: #ececec;
      }

      .gutter pre,
      .code pre {
        border: 0;
      }
    }
  }

  .comments {
    h2 {
      display: block;
      border-bottom: 1px solid darken($body-bg, 10%);
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }
}

/* @end Blog */

:not(pre) > code[class*='language-text'] {
  color: #e83e8c;
  background-color: initial !important;
}
